nav{
    background-color:chocolate;
    padding: 0px 0px;
    height: 40px;
   
}

nav a{
    margin-right: 30px;
    font-size: 17px;
    text-decoration: none;
    color: white;
}
nav a.active{
    color:yellow;
    font-weight: bold;
}